body {
    background-image: url("https://static.wikia.nocookie.net/among-us-wiki/images/5/51/InspectSample.png/revision/latest/top-crop/width/360/height/360?cb=20200913023742");
  }

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 17, 0.722);
  }

.button1{
  display: inline-block;
  margin-top: 75px;
  margin-left: 120px;
  background-color: rgba(1, 1, 17, 0.822); 
  border-style: solid;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}
.button2{
  display: inline-block;
  margin-top: 75px;
  margin-left: 300px;
  background-color: rgba(1, 1, 17, 0.822); 
  border-style: solid;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}

.btn-hov {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-hov::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(20, 16, 10, 0.5);
	transition: all 0.3s;
}
.btn-hov:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-hov::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(173, 12, 125, 0.5);
	transform: scale(1.2,1.2);
}
.btn-hov:hover::after {
	opacity: 0;
	transform: scale(1,1);
}